HacmeBank_v2.0 (7 Dec 08)/HacmeBank_v2_Website/App_WebReferences/localhost/UsersCommunity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PostMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetPostedMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostedMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostedMessagesResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteMessageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostMessageSoapIn">
    <wsdl:part name="parameters" element="tns:PostMessage" />
  </wsdl:message>
  <wsdl:message name="PostMessageSoapOut">
    <wsdl:part name="parameters" element="tns:PostMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetPostedMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPostedMessages" />
  </wsdl:message>
  <wsdl:message name="GetPostedMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostedMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMessageSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMessage" />
  </wsdl:message>
  <wsdl:message name="DeleteMessageSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_UsersCommunitySoap">
    <wsdl:operation name="PostMessage">
      <wsdl:input message="tns:PostMessageSoapIn" />
      <wsdl:output message="tns:PostMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPostedMessages">
      <wsdl:input message="tns:GetPostedMessagesSoapIn" />
      <wsdl:output message="tns:GetPostedMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <wsdl:input message="tns:DeleteMessageSoapIn" />
      <wsdl:output message="tns:DeleteMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_UsersCommunitySoap" type="tns:WS_UsersCommunitySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostMessage">
      <soap:operation soapAction="http://tempuri.org/PostMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostedMessages">
      <soap:operation soapAction="http://tempuri.org/GetPostedMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <soap:operation soapAction="http://tempuri.org/DeleteMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_UsersCommunitySoap12" type="tns:WS_UsersCommunitySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostMessage">
      <soap12:operation soapAction="http://tempuri.org/PostMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostedMessages">
      <soap12:operation soapAction="http://tempuri.org/GetPostedMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <soap12:operation soapAction="http://tempuri.org/DeleteMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_UsersCommunity">
    <wsdl:port name="WS_UsersCommunitySoap" binding="tns:WS_UsersCommunitySoap">
      <soap:address location="http://localhost:15583/HacmeBank_v2_WS/WebServices/UsersCommunity.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_UsersCommunitySoap12" binding="tns:WS_UsersCommunitySoap12">
      <soap12:address location="http://localhost:15583/HacmeBank_v2_WS/WebServices/UsersCommunity.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>